<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    {{#characters}}<div>Here's a thing:{{name}}<div>{{/characters}}
  </body>
</html>
